.item_container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 0;
}

.item_container h3 {
    color: #050202;
    font-weight: 700;
}

.item__img {
    border-radius: 10px;
    padding: 5px;
    width: 150px;
}

.item_container p {
    font-size: 18px;
}